html {
    box-sizing: border-box;
  }
  
  *,
  ::after,
  ::before {
    box-sizing: inherit;
  }
  
  .body {
    background-color: rgb(203, 204, 204);
    font-family: "Source Sans Pro", sans-serif;
    background-image: url(https://images.pexels.com/photos/47344/dollar-currency-money-us-dollar-47344.jpeg?cs=srgb&dl=pexels-pixabay-47344.jpg&fm=jpg);
    background-size: 2000px;
  }
  .header {
    max-width: 700px;
    margin: auto;
    padding: 50px;
    background-color: rgb(168, 14, 44);
    color: #fff;
    margin-top: 30px;
    border-radius: 30px;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 1);
    border: 2px solid #000;
  }
  
  .header__text {
    font-size: 75px;
    font-weight: 800;
    margin: auto;
    text-align: center;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
  }
  
  .form {
    max-width: 900px;
    margin: auto;
    margin-top: 50px;
  }
  
  .form__fieldset {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    background-color: rgb(168, 14, 44);
    color: #fff;
    text-align: center;
    padding: 30px;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 1);
  }
  
  .form__legend {
    background-color: rgb(0, 0, 0);
    color: #fff;
    padding: 20px;
    border-radius: 15px;
    font-weight: 700;
    font-size: 25px;
  }
  
  .form__labelText {
    background-color: #fff;
    color: #000;
    padding: 20px;
    border-radius: 15px;
    display: inline-block;
    font-weight: 600;
    font-size: 24px;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 1);
  }
  
  .form__field {
    padding: 7px;
    font-weight: 600;
    font-size: 17px;
  }
  
  .form__button {
    width: 100%;
    max-width: 900px;
    border: none;
    border-radius: 15px;
    padding: 20px;
    font-size: 32px;
    font-weight: 600;
    background-color: rgb(204, 18, 55);
    color: #fff;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
  }
  
  .form__button:hover {
    background-color: rgb(168, 14, 44);
  }
  
  .form__button:active {
    background-color: rgb(103, 11, 29);
  }
  
  .form__result {
    background-color: rgb(168, 14, 44);
    color: #fff;
    text-align: center;
    border-radius: 20px;
    width: 70%;
    margin: auto;
    font-size: 40px;
    font-weight: 700;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
    border: 2px solid black;
  }
  .js-result {
    text-decoration: underline;
    text-shadow: 0px 0px 10px rgb(0 255 24);
    font-size: 43px;
  }
  .footer {
    color: rgb(143, 143, 143);
    padding: 40px;
    float: right;
    font-size: 25px;
  }
  